In [227]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import copy
%matplotlib inline

In [228]:
df=pd.read_csv('/Users/liyuefan/Documents/gtja/all_index.csv',encoding='gbk')

In [229]:
df['update_date']=pd.to_datetime(df['update_date'])

In [230]:
df.index=[df['update_date']]
df.drop(['update_date'],axis=1,inplace=True)

In [231]:
for col in df.columns:
    df[col]=df[col].apply(lambda x: np.nan if x==0 else x)

In [232]:
import statsmodels.tsa.stattools as sts
from scipy.stats.stats import pearsonr

In [233]:
df=df.fillna(method='ffill')

In [234]:
len(df)

4115

In [235]:
df=df.loc[:,['ALFI.WI','CUFI.WI','IFI.WI','JFI.WI','JMFI.WI','NIFI.WI','RBFI.WI','ZNFI.WI']]

In [236]:
# df=df.dropna(axis=0)

In [237]:
df

,ALFI.WI,CUFI.WI,IFI.WI,JFI.WI,JMFI.WI,NIFI.WI,RBFI.WI,ZNFI.WI
update_date,,,,,,,,
2000-01-04,16491.50,18835.09,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,16413.37,18636.30,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,16454.88,18750.85,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,16487.47,18787.19,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-10,16487.47,18787.19,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-11,16423.08,18744.47,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-12,16411.28,18730.64,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-13,16380.95,18931.76,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-14,16373.22,18966.51,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-17,16413.54,19057.02,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-18,16585.78,19259.32,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-19,16708.97,19238.43,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-20,16704.82,19258.76,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-21,16704.53,19263.02,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-24,16714.64,19306.26,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-25,16685.22,19194.43,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-26,16749.85,19168.89,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-27,16863.37,19241.47,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-28,16903.99,19254.51,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-14,17050.47,19376.64,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-15,16977.92,19333.33,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-16,16822.95,19091.11,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-17,16806.69,19109.87,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-18,16936.33,19192.38,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-21,17032.69,19141.10,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-22,16939.57,18969.16,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-23,17022.09,19084.55,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-24,17075.48,19199.78,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-25,17072.99,19186.42,NaN,NaN,NaN,NaN,NaN,NaN
2000-02-28,17034.31,19016.18,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2016-11-21,13890.60,45173.02,529.95,1952.05,1429.78,91991.05,2724.65,21346.84
2016-11-22,14004.48,46264.83,554.00,2095.16,1524.20,94030.40,2909.65,21780.65
2016-11-23,13915.55,45824.92,587.77,2067.40,1486.69,93651.27,2972.83,21573.31
2016-11-24,13950.89,48267.23,594.80,2045.76,1493.65,95375.92,2985.33,22556.87
2016-11-25,13886.89,48155.48,625.89,2083.20,1530.65,96036.77,3199.18,23041.99
2016-11-28,14048.96,49527.17,631.63,2137.81,1537.74,98564.17,3278.49,24410.80
2016-11-29,13518.65,46770.94,586.27,1977.09,1419.94,94050.88,3040.95,23779.82
2016-11-30,13237.66,46078.27,561.98,1957.21,1405.78,90835.91,2976.52,22563.79
2016-12-01,13448.16,47059.67,601.17,1939.89,1396.90,92536.42,3169.34,22917.06
2016-12-02,13410.45,46622.01,580.14,1878.41,1364.91,91990.06,3114.54,22323.58
2016-12-05,13291.67,47350.89,608.23,1902.68,1387.76,95047.59,3191.27,22678.82
2016-12-06,13264.72,47690.67,607.28,1890.58,1370.88,94941.01,3204.70,22877.73
2016-12-07,13223.41,48352.13,646.49,1964.52,1401.22,96446.44,3368.60,23293.01
2016-12-08,13185.66,47227.57,636.86,1933.26,1384.12,94802.29,3381.16,22826.51
2016-12-09,13365.56,47436.54,619.41,1877.80,1350.69,94878.23,3332.05,22587.36
2016-12-12,13481.98,47284.11,636.48,1849.54,1307.94,94232.01,3434.24,22370.77
2016-12-13,13348.57,46969.13,645.69,1871.10,1315.59,95735.67,3495.47,22589.20
2016-12-14,13098.36,46557.73,604.61,1861.69,1321.31,96060.64,3368.86,22485.91
2016-12-15,13069.16,46860.83,607.76,1891.90,1332.68,95952.25,3406.08,22938.64
2016-12-16,12981.72,46518.15,590.89,1867.62,1311.61,95123.24,3287.88,22637.58
2016-12-19,12711.52,45685.38,559.67,1857.11,1327.29,93265.61,3166.66,21580.59
2016-12-20,12743.96,44975.27,566.89,1873.00,1352.16,92403.72,3157.65,21020.51
2016-12-21,12917.31,45404.05,571.20,1862.83,1351.53,92531.77,3165.60,21343.54
2016-12-22,12843.94,44520.75,541.38,1757.00,1286.43,90000.10,3025.29,20861.43
2016-12-23,12771.68,45190.00,546.47,1740.82,1276.12,90054.93,2983.90,21288.45
2016-12-26,12714.07,44180.73,550.43,1652.74,1204.03,84137.78,2920.72,19833.92
2016-12-27,12855.05,44727.30,555.91,1639.15,1203.54,85469.45,3002.79,20296.35
2016-12-28,12737.00,45639.62,559.55,1627.51,1191.70,85746.23,2985.37,20629.40
2016-12-29,12790.69,45835.53,563.49,1609.89,1191.98,86283.08,2949.09,21078.77
2016-12-30,12863.40,45516.78,541.97,1553.63,1183.96,85528.22,2864.69,20996.97

l=[]
for col in df.columns:
    print col, np.min(np.argwhere(np.isnan(df[col])==False))
    l.append(np.min(np.argwhere(np.isnan(df[col])==False)))

In [238]:
df_=copy.deepcopy(df)
for col in df.columns:
    df[col]=np.log(df[col])
    df[col]=df[col].diff()

In [239]:
df=df[:pd.to_datetime('2016-04-07')]

In [241]:
df=df.iloc[1:,:]

In [242]:
# df=df.dropna(axis=0)

In [243]:
d=df.as_matrix()

In [244]:
X=d.shape[0]
Y=d.shape[1]

In [245]:
coef_dict={}
for y1 in range(Y):
    for y2 in range(y1+1, Y):
        coef=np.corrcoef(d[:,y1],d[:,y2])[0,1]
        coef_dict['%s+%s'%(df.columns[y1],df.columns[y2])]=coef

In [246]:
coef_dict.items()

[('JFI.WI+JMFI.WI', nan),
 ('NIFI.WI+RBFI.WI', nan),
 ('ALFI.WI+ZNFI.WI', nan),
 ('JFI.WI+NIFI.WI', nan),
 ('ALFI.WI+NIFI.WI', nan),
 ('IFI.WI+NIFI.WI', nan),
 ('CUFI.WI+NIFI.WI', nan),
 ('ALFI.WI+CUFI.WI', 0.64179606289207791),
 ('CUFI.WI+ZNFI.WI', nan),
 ('IFI.WI+JFI.WI', nan),
 ('ALFI.WI+JMFI.WI', nan),
 ('CUFI.WI+JFI.WI', nan),
 ('CUFI.WI+IFI.WI', nan),
 ('JFI.WI+ZNFI.WI', nan),
 ('JMFI.WI+RBFI.WI', nan),
 ('RBFI.WI+ZNFI.WI', nan),
 ('ALFI.WI+IFI.WI', nan),
 ('IFI.WI+JMFI.WI', nan),
 ('ALFI.WI+RBFI.WI', nan),
 ('ALFI.WI+JFI.WI', nan),
 ('IFI.WI+ZNFI.WI', nan),
 ('JMFI.WI+NIFI.WI', nan),
 ('CUFI.WI+JMFI.WI', nan),
 ('JMFI.WI+ZNFI.WI', nan),
 ('CUFI.WI+RBFI.WI', nan),
 ('IFI.WI+RBFI.WI', nan),
 ('JFI.WI+RBFI.WI', nan),
 ('NIFI.WI+ZNFI.WI', nan)]

In [270]:
for y1 in range(Y):
    for y2 in range(y1+1,Y):
        df_selected=df_.loc[:,['%s'%df.columns[y1],'%s'%df.columns[y2]]]
        yy=df_selected.iloc[:,0]
        xx=df_selected.iloc[:,1]
        model=pd.ols(y=yy,x=xx,intercept=True)
        spread=yy-xx*model.beta['x']
        spread=spread.dropna()
        sta=sts.adfuller(spread,1)
        print df.columns[y1],df.columns[y2],sta[1],model.beta['x'],np.mean(spread),np.std(spread)

ALFI.WI CUFI.WI 0.335170180582 0.0658959410512 12754.0429163 2084.2897154
ALFI.WI IFI.WI 0.330902040618 4.349900154 10470.8954263 747.184986763
ALFI.WI JFI.WI 0.25142354687 3.32149417987 9354.92659741 774.051404927
ALFI.WI JMFI.WI 0.58285368118 3.54371599057 10025.480168 848.022432351
ALFI.WI NIFI.WI 0.292005226306 0.0669398855587 6696.41456915 618.705113566
ALFI.WI RBFI.WI 0.00202591161988 1.7923773892 8147.283214 690.227329147
ALFI.WI ZNFI.WI 0.795006847354 0.413786395741 8157.73733019 1814.07674343
CUFI.WI IFI.WI 0.233294696759 25.9770092049 29258.4256076 2745.37495765
CUFI.WI JFI.WI 0.107183738172 16.8828929977 25667.7715282 4455.75854892
CUFI.WI JMFI.WI 0.466157796698 16.6478131699 30234.6421424 4639.01908681
CUFI.WI NIFI.WI 0.415319857552 0.282426011483 16336.7357474 1631.02456751
CUFI.WI RBFI.WI 0.000888144183538 9.43822502805 18016.4816452 4859.88621921
CUFI.WI ZNFI.WI 0.631956018375 1.78191452584 22244.1144032 8983.17416564
IFI.WI JFI.WI 0.584300194953 0.396251221797 99.2771948892 133.720641259
IFI.WI JMFI.WI 0.687171273495 0.527113461792 109.587623657 146.462808481
IFI.WI NIFI.WI 0.571815528309 0.00397754355476 85.415069285 57.9248349682
IFI.WI RBFI.WI 0.120586323724 0.313950335362 -281.188447146 48.8347308593
IFI.WI ZNFI.WI 0.0778641892316 0.0110903908835 353.263958397 183.100082256
JFI.WI JMFI.WI 0.00926135914978 1.44773293219 -72.1006894229 51.8630001493
JFI.WI NIFI.WI 0.916315920288 0.0160191439059 -297.160089836 328.026960918
JFI.WI RBFI.WI 0.535375856354 0.509519963054 -231.221521034 159.258977174
JFI.WI ZNFI.WI 0.685952147837 0.10867891235 -292.598884639 453.546772997
JMFI.WI NIFI.WI 0.940213520495 0.00989974413958 -42.4571271639 232.588747032
JMFI.WI RBFI.WI 0.887226410198 0.284704192972 65.3266971181 137.95944253
JMFI.WI ZNFI.WI 0.185046332008 0.060269311626 -100.732901734 201.993200497
NIFI.WI RBFI.WI 0.346431674971 16.8641325129 42893.1907993 8817.91904946
NIFI.WI ZNFI.WI 0.414422780597 2.73311585556 36756.8221944 8501.30118195
RBFI.WI ZNFI.WI 0.874448514224 0.17260463366 747.42799443 871.279661338